<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kerne.potato">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".GeneralActivity"
            android:label="种植图"/>
        <activity
            android:name=".GeneralClickActivity"
            android:label="试验田" />
        <activity
            android:name=".temporarystorage.SaveDataActivity"
            android:label="采集数据"/>
        <activity android:name=".SpeciesClickActivity" />
        <activity
            android:name=".MultiLevelActivity"
            android:label="实验田列表"/>
        <activity
            android:name=".MainActivity"
            android:label="首页"
            android:launchMode="singleTask"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.kerne.potato.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SpeciesListActivity"
            android:label="品种搜索"/>
        <activity android:name=".TestActivity" />
        <activity
            android:name=".complextable.TableActivity"
            android:label="品种种植"/>
        <activity
            android:name=".BigfarmClickActivity"
            android:label="试验基地"></activity>
    </application>

</manifest>